In [1]:
import requests,pprint,json,datetime,time
from gzip import decompress
from json import loads
from requests import get
import pandas as pd
from pymongo import MongoClient
from APIweatherkey import key 
import numpy as np
#key = 'c1a5f0a0817c9b0d547ef47d4873d62c'
# Sign up for free API key at https://openweathermap.org/appid

ModuleNotFoundError: No module named 'APIweatherkey'

# Acquring data from an API

In [2]:
city='vancouver'
country='ca'


requestString='https://api.openweathermap.org/data/2.5/weather?q=%s,%s&APPID=%s' % (city,country,key)


res=requests.get(requestString)
print(res.status_code)

200

In [5]:
type(res)

requests.models.Response

In [7]:
mydict = res.json()

In [14]:
mydict['weather'][0]['main']

'Clouds'

In [132]:
mydict

{'coord': {'lon': -124.26, 'lat': 54.46},
 'weather': [{'id': 804,
   'main': 'Clouds',
   'description': 'overcast clouds',
   'icon': '04n'}],
 'base': 'stations',
 'main': {'temp': 282.64,
  'feels_like': 279.83,
  'temp_min': 282.64,
  'temp_max': 282.64,
  'pressure': 1015,
  'humidity': 60,
  'sea_level': 1015,
  'grnd_level': 930},
 'wind': {'speed': 1.65, 'deg': 255},
 'clouds': {'all': 97},
 'dt': 1593075303,
 'sys': {'country': 'CA', 'sunrise': 1593085378, 'sunset': 1593147391},
 'timezone': -25200,
 'id': 5881688,
 'name': 'Fort St. James',
 'cod': 200}

In [2]:
df = pd.read_json(decompress(get("http://bulk.openweathermap.org/sample/city.list.json.gz").content))
df

,id,name,state,country,coord
0,833,Ḩeşār-e Sefīd,,IR,"{'lon': 47.159401, 'lat': 34.330502}"
1,2960,‘Ayn Ḩalāqīm,,SY,"{'lon': 36.321911, 'lat': 34.940079}"
2,3245,Taglag,,IR,"{'lon': 44.98333, 'lat': 38.450001}"
3,3530,Qabāghlū,,IR,"{'lon': 46.168499, 'lat': 36.173302}"
4,5174,‘Arīqah,,SY,"{'lon': 36.48336, 'lat': 32.889809}"
...,...,...,...,...,...
209574,8277210,Beldibi,,TR,"{'lon': 30.707411, 'lat': 40.592731}"
209575,10722858,Forsytheganj,,BY,"{'lon': 29.733333000000002, 'lat': 52.633333}"
209576,71296900,Голубинка,,UA,"{'lon': 33.92, 'lat': 44.59}"
209577,102908597,Gerton,,US,"{'lon': -82.348056, 'lat': 35.479167}"
209578,536203,Saint Petersburg,,RU,"{'lon': 30.25, 'lat': 59.916668}"

In [78]:
df[df['name']=='Abbotsford']

,id,name,state,country,coord
53912,2178377,Abbotsford,,AU,"{'lon': 151.133331, 'lat': -33.849998}"
157108,5243517,Abbotsford,WI,US,"{'lon': -90.315971, 'lat': 44.946362}"
161744,5881791,Abbotsford,,CA,"{'lon': -122.252571, 'lat': 49.05798}"
161745,5881792,Abbotsford,,CA,"{'lon': -122.285873, 'lat': 49.049679}"

In [6]:
def getData(city,countrycode):
    requestString='https://api.openweathermap.org/data/2.5/weather?q=%s,%s&APPID=%s' % (city,countrycode,key)
    
    res=requests.get(requestString)
    
    return res

### 1. Get hold of all the Canadian cities from the list of the cities.

In [3]:
canada = df[df['country']=='CA']
cities = canada['name'].head(30)

### 2. Then using all the data for the Canadian cities, push the values of [cityname, lon, lat, weather_main, weather_description, temp, humidity] into a pymongo database collection.

In [4]:
City=[]
Lon=[]
Lat=[]
Main=[]
Description=[]
Temp=[]
Humidity=[]
index=[]

for city in cities:
    country='ca'
    requestString='https://api.openweathermap.org/data/2.5/weather?q=%s,%s&APPID=%s' % (city,country,key)
    res=requests.get(requestString)
    mydict = res.json()
    
    City.append(mydict['name'])    
    Lon.append(mydict['coord']['lon'])    
    Lat.append(mydict['coord']['lat'])    
    Main.append(mydict['weather'][0]['main'])    
    Description.append(mydict['weather'][0]['description'])    
    Temp.append(mydict['main']['temp'])    
    Humidity.append(mydict['main']['humidity'])    
    index.append(mydict['id'])

In [5]:
ca_weather = pd.DataFrame({'City':City, 'Lon':Lon, 'Lat':Lat, 'Main':Main, 'Description':Description, 'Temp':Temp, 'Humidity':Humidity, }, index=index)
ca_weather

,City,Lon,Lat,Main,Description,Temp,Humidity
5881688,Fort St. James,-124.26,54.46,Clouds,overcast clouds,283.62,66
5881774,Abbey,-108.75,50.73,Clouds,broken clouds,286.48,83
5881791,Abbotsford,-122.25,49.06,Clouds,scattered clouds,288.34,87
5881791,Abbotsford,-122.25,49.06,Clouds,scattered clouds,288.34,87
5881868,Aberdeen,-106.28,52.32,Clouds,scattered clouds,286.90,82
5881941,Abitibi-Témiscamingue,-77.78,48.10,Clouds,overcast clouds,287.15,87
5881954,Aboushagan Road,-64.35,45.98,Clouds,scattered clouds,286.80,87
5882033,Acadia Valley,-110.22,51.15,Clouds,broken clouds,290.93,59
5882100,Acme,-113.50,51.50,Clouds,overcast clouds,288.93,66
5882134,Acton,-80.04,43.63,Clouds,scattered clouds,288.01,63
5882142,Acton Vale,-72.57,45.65,Clear,clear sky,286.78,82
5882351,Aden,-111.32,49.03,Clouds,broken clouds,290.65,44
5882375,Admiral,-108.02,49.72,Clear,clear sky,285.15,81
5882534,Agassiz,-121.77,49.23,Clear,clear sky,286.48,82
5882599,Agincourt,-79.28,43.78,Clouds,broken clouds,289.86,93
5882640,Aguanish,-62.08,50.22,Mist,mist,283.15,100
5882799,Airdrie,-114.04,51.30,Clouds,overcast clouds,288.34,65
5882873,Ajax,-79.03,43.85,Clouds,scattered clouds,287.17,87
5882953,Aklavik,-135.01,68.22,Clouds,broken clouds,285.15,54
5882994,Akulivik,-78.20,60.80,Clear,clear sky,281.28,65
5883027,Alameda,-102.28,49.27,Clear,clear sky,285.37,94
5883074,Albanel,-72.45,48.88,Clouds,scattered clouds,289.15,77
5883078,Albany,-65.05,44.80,Clouds,broken clouds,286.87,93
5883089,Albatross,-104.67,50.53,Clear,clear sky,284.15,87
5883093,Alberni,-124.80,49.25,Clouds,few clouds,288.71,88
5883102,Alberta,-117.47,52.28,Clouds,overcast clouds,277.28,87
5883166,Alberton,-64.07,46.82,Clouds,overcast clouds,288.66,79
5883171,Alberton South,-64.08,46.80,Clouds,overcast clouds,288.60,79
5883187,Albertville,-105.55,53.40,Clouds,overcast clouds,287.15,84
5883213,Albrights Corner,-66.18,46.02,Clear,clear sky,286.71,77

In [143]:
data_dict = ca_weather.to_dict('records')

client=MongoClient('localhost', 27017)
weatherdb=client.APIweather
weathercol=weatherdb.APIweathercanada
weathercol.insert_many(data_dict)

In [2]:
client=MongoClient('localhost', 27017)
weatherdb=client.APIweather
weathercol=weatherdb.APIweathercanada

In [7]:
weathercol.count_documents({})

30

### 3. Extract the datetime in proper readable format.

In [8]:
dt=[]
for city in cities:
    country='ca'
    requestString='https://api.openweathermap.org/data/2.5/weather?q=%s,%s&APPID=%s' % (city,country,key)
    res=requests.get(requestString)
    mydict = res.json()
    dt.append(mydict['dt'])

In [25]:
for x in range(len(dt)):
    print(datetime.datetime.utcfromtimestamp(dt[x]).strftime('%Y-%m-%d %H:%M:%S'))

2020-06-26 08:52:05
2020-06-26 08:52:05
2020-06-26 08:50:28
2020-06-26 08:50:28
2020-06-26 08:52:06
2020-06-26 08:48:36
2020-06-26 08:52:07
2020-06-26 08:52:07
2020-06-26 08:49:54
2020-06-26 08:52:08
2020-06-26 08:52:08
2020-06-26 08:52:08
2020-06-26 08:52:09
2020-06-26 08:52:09
2020-06-26 08:49:52
2020-06-26 08:52:10
2020-06-26 08:52:10
2020-06-26 08:52:11
2020-06-26 08:52:11
2020-06-26 08:52:11
2020-06-26 08:52:12
2020-06-26 08:52:12
2020-06-26 08:52:12
2020-06-26 08:52:13
2020-06-26 08:52:13
2020-06-26 08:52:13
2020-06-26 08:52:14
2020-06-26 08:52:14
2020-06-26 08:52:14
2020-06-26 08:52:15

### 4. Sort the PyMongo Database collection by temp in descending order.

In [145]:
for i in weathercol.find().sort('Temp', -1):
    print(i)

{'_id': ObjectId('5ef46b80c5c8b5a108d3b1b1'), 'City': 'Albany', 'Lon': -65.05, 'Lat': 44.8, 'Main': 'Clouds', 'Description': 'overcast clouds', 'Temp': 295.27, 'Humidity': 88}
{'_id': ObjectId('5ef46b80c5c8b5a108d3b1a1'), 'City': 'Aboushagan Road', 'Lon': -64.35, 'Lat': 45.98, 'Main': 'Clouds', 'Description': 'overcast clouds', 'Temp': 293.92, 'Humidity': 94}
{'_id': ObjectId('5ef46b80c5c8b5a108d3b1b6'), 'City': 'Alberton South', 'Lon': -64.08, 'Lat': 46.8, 'Main': 'Clouds', 'Description': 'scattered clouds', 'Temp': 291.65, 'Humidity': 94}
{'_id': ObjectId('5ef46b80c5c8b5a108d3b1b5'), 'City': 'Alberton', 'Lon': -64.07, 'Lat': 46.82, 'Main': 'Clouds', 'Description': 'scattered clouds', 'Temp': 291.55, 'Humidity': 94}
{'_id': ObjectId('5ef46b80c5c8b5a108d3b19f'), 'City': 'Aberdeen', 'Lon': -106.28, 'Lat': 52.32, 'Main': 'Rain', 'Description': 'light intensity shower rain', 'Temp': 290.12, 'Humidity': 93}
{'_id': ObjectId('5ef46b80c5c8b5a108d3b1b8'), 'City': 'Albrights Corner', 'Lon': -66.18, 'Lat': 46.02, 'Main': 'Clouds', 'Description': 'overcast clouds', 'Temp': 290.03, 'Humidity': 88}
{'_id': ObjectId('5ef46b80c5c8b5a108d3b1b2'), 'City': 'Albatross', 'Lon': -104.67, 'Lat': 50.53, 'Main': 'Clouds', 'Description': 'few clouds', 'Temp': 289.51, 'Humidity': 87}
{'_id': ObjectId('5ef46b80c5c8b5a108d3b1a2'), 'City': 'Acadia Valley', 'Lon': -110.22, 'Lat': 51.15, 'Main': 'Clouds', 'Description': 'overcast clouds', 'Temp': 289.33, 'Humidity': 67}
{'_id': ObjectId('5ef46b80c5c8b5a108d3b1af'), 'City': 'Alameda', 'Lon': -102.28, 'Lat': 49.27, 'Main': 'Clouds', 'Description': 'broken clouds', 'Temp': 289.26, 'Humidity': 94}
{'_id': ObjectId('5ef46b80c5c8b5a108d3b1a7'), 'City': 'Admiral', 'Lon': -108.02, 'Lat': 49.72, 'Main': 'Clouds', 'Description': 'overcast clouds', 'Temp': 289.15, 'Humidity': 82}
{'_id': ObjectId('5ef46b80c5c8b5a108d3b19c'), 'City': 'Abbey', 'Lon': -108.75, 'Lat': 50.73, 'Main': 'Clouds', 'Description': 'overcast clouds', 'Temp': 288.71, 'Humidity': 91}
{'_id': ObjectId('5ef46b80c5c8b5a108d3b1b0'), 'City': 'Albanel', 'Lon': -72.45, 'Lat': 48.88, 'Main': 'Clouds', 'Description': 'broken clouds', 'Temp': 288.15, 'Humidity': 77}
{'_id': ObjectId('5ef46b80c5c8b5a108d3b1b3'), 'City': 'Alberni', 'Lon': -124.8, 'Lat': 49.25, 'Main': 'Clouds', 'Description': 'broken clouds', 'Temp': 287.59, 'Humidity': 89}
{'_id': ObjectId('5ef46b80c5c8b5a108d3b1a9'), 'City': 'Agincourt', 'Lon': -79.28, 'Lat': 43.78, 'Main': 'Clear', 'Description': 'clear sky', 'Temp': 287.56, 'Humidity': 87}
{'_id': ObjectId('5ef46b80c5c8b5a108d3b19d'), 'City': 'Abbotsford', 'Lon': -122.25, 'Lat': 49.06, 'Main': 'Clouds', 'Description': 'few clouds', 'Temp': 287.55, 'Humidity': 87}
{'_id': ObjectId('5ef46b80c5c8b5a108d3b19e'), 'City': 'Abbotsford', 'Lon': -122.25, 'Lat': 49.06, 'Main': 'Clouds', 'Description': 'few clouds', 'Temp': 287.55, 'Humidity': 87}
{'_id': ObjectId('5ef46b80c5c8b5a108d3b1b7'), 'City': 'Albertville', 'Lon': -105.55, 'Lat': 53.4, 'Main': 'Rain', 'Description': 'light rain', 'Temp': 287.5, 'Humidity': 96}
{'_id': ObjectId('5ef46b80c5c8b5a108d3b1a6'), 'City': 'Aden', 'Lon': -111.32, 'Lat': 49.03, 'Main': 'Rain', 'Description': 'light rain', 'Temp': 287.31, 'Humidity': 89}
{'_id': ObjectId('5ef46b80c5c8b5a108d3b1a8'), 'City': 'Agassiz', 'Lon': -121.77, 'Lat': 49.23, 'Main': 'Clouds', 'Description': 'overcast clouds', 'Temp': 287.15, 'Humidity': 93}
{'_id': ObjectId('5ef46b80c5c8b5a108d3b1a5'), 'City': 'Acton Vale', 'Lon': -72.57, 'Lat': 45.65, 'Main': 'Clear', 'Description': 'clear sky', 'Temp': 286.68, 'Humidity': 83}
{'_id': ObjectId('5ef46b80c5c8b5a108d3b1ac'), 'City': 'Ajax', 'Lon': -79.03, 'Lat': 43.85, 'Main': 'Clear', 'Description': 'clear sky', 'Temp': 286.2, 'Humidity': 82}
{'_id': ObjectId('5ef46b80c5c8b5a108d3b1aa'), 'City': 'Aguanish', 'Lon': -62.08, 'Lat': 50.22, 'Main': 'Clear', 'Description': 'clear sky', 'Temp': 286.15, 'Humidity': 100}
{'_id': ObjectId('5ef46b80c5c8b5a108d3b1a4'), 'City': 'Acton', 'Lon': -80.04, 'Lat': 43.63, 'Main': 'Clouds', 'Description': 'broken clouds', 'Temp': 285.23, 'Humidity': 68}
{'_id': ObjectId('5ef46b80c5c8b5a108d3b1a0'), 'City': 'Abitibi-Témiscamingue', 'Lon': -77.78, 'Lat': 48.1, 'Main': 'Rain', 'Description': 'light rain', 'Temp': 284.15, 'Humidity': 100}
{'_id': ObjectId('5ef46b80c5c8b5a108d3b1ab'), 'City': 'Airdrie', 'Lon': -114.04, 'Lat': 51.3, 'Main': 'Clouds', 'Description': 'broken clouds', 'Temp': 283.89, 'Humidity': 92}
{'_id': ObjectId('5ef46b80c5c8b5a108d3b1ad'), 'City': 'Aklavik', 'Lon': -135.01, 'Lat': 68.22, 'Main': 'Clouds', 'Description': 'broken clouds', 'Temp': 283.15, 'Humidity': 61}
{'_id': ObjectId('5ef46b80c5c8b5a108d3b1a3'), 'City': 'Acme', 'Lon': -113.5, 'Lat': 51.5, 'Main': 'Clouds', 'Description': 'broken clouds', 'Temp': 282.85, 'Humidity': 53}
{'_id': ObjectId('5ef46b80c5c8b5a108d3b19b'), 'City': 'Fort St. James', 'Lon': -124.26, 'Lat': 54.46, 'Main': 'Clouds', 'Description': 'overcast clouds', 'Temp': 282.64, 'Humidity': 60}
{'_id': ObjectId('5ef46b80c5c8b5a108d3b1ae'), 'City': 'Akulivik', 'Lon': -78.2, 'Lat': 60.8, 'Main': 'Clear', 'Description': 'clear sky', 'Temp': 280.59, 'Humidity': 68}
{'_id': ObjectId('5ef46b80c5c8b5a108d3b1b4'), 'City': 'Alberta', 'Lon': -117.47, 'Lat': 52.28, 'Main': 'Clear', 'Description': 'clear sky', 'Temp': 271.65, 'Humidity': 100}

In [146]:
weathercol.count_documents({})

30

### 5. Group the cities by their main weather and count the number of those cities which have similar weather.

In [161]:
agr = [ {'$group': {'_id': '$Main', 'count': { '$sum': 1 } } } ]

In [162]:
val=list(weathercol.aggregate(agr))
val

[{'_id': 'Rain', 'count': 4},
 {'_id': 'Clear', 'count': 6},
 {'_id': 'Clouds', 'count': 20}]