## Import pyspark after installation

In [1]:
import findspark
findspark.init()
findspark.find()
import pyspark
findspark.find()
from pyspark import SparkContext, SparkConf
from pyspark.sql import SparkSession

'C:\\Users\\hyeri\\Spark\\spark-2.4.6-bin-hadoop2.7'

In [2]:
#create spark session(method 1)
conf = pyspark.SparkConf().setAppName('SparkApp').setMaster('local')
sc = pyspark.SparkContext(conf=conf)
spark = SparkSession(sc)

In [ ]:
#create spark session(method 2) #Chinmaya's code
sc = SparkContext.getOrCreate()
spark = SparkSession.builder.getOrCreate()

In [3]:
numeric_val = sc.parallelize([1,2,3,4])
numeric_val.map(lambda x:x*x*x).collect()

[1, 8, 27, 64]

In [4]:
#stop the Session
#sc.stop()

## Pyspark packages

In [6]:
from pyspark.sql import functions
from pyspark.sql.functions import mean, sum, max, upper, lower, substring #dataframe.select(mean(col('Year'))).show()
from pyspark.sql.functions import date_add,date_format,concat,col,lit,to_date, to_timestamp
from pyspark.sql.functions import hour, minute

from pyspark.sql.types import StructType, StructField, StringType, TimestampType, BooleanType, DoubleType, IntegerType
import pyspark.sql.types as st    # st means Struct Type

## DataFrame with PySpark

In [3]:
import pandas as pd

In [5]:
data = [['tom', 10], ['nick', 15], ['juli', 14], ['hyeri', 25], ['simji', 25]] 
people_age = pd.DataFrame(data, columns = ['Name', 'Age'])  
people_age

    Name  Age
0    tom   10
1   nick   15
2   juli   14
3  hyeri   25
4  simji   25

In [10]:
spark.conf.set("spark.sql.execution.arrow.enabled", "true")
pyspark_pplage = spark.createDataFrame(people_age)
pyspark_pplage.show()

+-----+---+
| Name|Age|
+-----+---+
|  tom| 10|
| nick| 15|
| juli| 14|
|hyeri| 25|
|simji| 25|
+-----+---+

In [11]:
#Back to Dataframe
result_df = pyspark_pplage.select("*").toPandas()
result_df

C:\Users\hyeri\Spark\spark-2.4.6-bin-hadoop2.7\python\pyspark\sql\dataframe.py:2111: UserWarning: toPandas attempted Arrow optimization because 'spark.sql.execution.arrow.enabled' is set to true; however, failed by the reason below:
  PyArrow >= 0.8.0 must be installed; however, it was not found.
Attempting non-optimization as 'spark.sql.execution.arrow.fallback.enabled' is set to true.
  warnings.warn(msg)

    Name  Age
0    tom   10
1   nick   15
2   juli   14
3  hyeri   25
4  simji   25

# Pyspark-MongoDB [Option1]
## Connect PySpark to MongoDB Compass

In [ ]:
#Anaconda prompt
pyspark --conf "spark.mongodb.input.uri=mongodb://127.0.0.1/test.mycollection?readPreference=primaryPreferred"
exit()
#Anaconda prompt
pyspark --conf "spark.mongodb.output.uri=mongodb://127.0.0.1/test.mycollection"
exit()
#Anaconda prompt(this time, exit() not needed) 
pyspark --packages org.mongodb.spark:mongo-spark-connector_2.11:2.4.2

In [24]:
#create spark session(method 3)
from pyspark.sql import SparkSession

my_spark = SparkSession \
    .builder \
    .appName("myApp") \
    .config("spark.mongodb.input.uri", "mongodb://127.0.0.1/test.mycollection") \
    .config("spark.mongodb.output.uri", "mongodb://127.0.0.1/test.mycollection") \
    .getOrCreate()

In [ ]:
#Dataframe to Dictionary to MongoDB
#dataframe_dict = dataframe.to_dict('records')
#col.insert_many(dataframe_dict)

#Collection to Dataframe
#dataframe_match1=pd.DataFrame(list(col2.find()))

#for doc in client.jobs.CPSCpresentation.find({},{'_id':1, 'JobTitle':1}):
#  print(doc)

## Write on test.mycollection

In [ ]:
people = my_spark.createDataFrame([("Bilbo Baggins",  50), ("Gandalf", 1000), ("Thorin", 195), ("Balin", 178), ("Kili", 77), ("Dwalin", 169), ("Oin", 167), ("Gloin", 158), ("Fili", 82), ("Bombur", None)], ["name", "age"])
people.write.format("mongo").mode("append").save()
people.show()

In [ ]:
#people.write.format("mongo").mode("append").option("database","test").option("collection", "mycollection").save()

## Read from test.mycollection

In [ ]:
df = my_spark.read.format("mongo").load()
df.show()
df.printSchema()

In [ ]:
df1 = my_spark.read.format("mongo").option("uri","mongodb://127.0.0.1/test.mycollection").load()
df1.show()

In [ ]:
df2 = my_spark.read.format("mongo").option("uri","mongodb://127.0.0.1/jobs.July_22").load()
df2.show()

In [ ]:
df2 = spark.read.format("mongo").option("uri","mongodb://127.0.0.1/jobs.July_22").load()
df2.show()

In [29]:
from pymongo import MongoClient
from bson.objectid import ObjectId

client=MongoClient('localhost', 27017)
client.test.mycollection.insert_many([{'name':'hyeri', 'age':25}, {'name':'hyeji', 'age':23}])

# Pyspark-MongoDB [Option 2]
## Connect PySpark to MongoDB Atlas
https://www.kaggle.com/ashishsaxena2209/tutorial-to-use-mongodb-atlas-cloud-service

In [ ]:
!pip install pymongo[srv]

#### After installing pymongo[srv], go to Runtime option on the menu at the top and restart runtime

In [ ]:
import pymongo
from pymongo import MongoClient
client = MongoClient("mongodb+srv://hyeri:Wlqtnsdl11061310*@mycluster.fc010.mongodb.net/sample_airbnb?retryWrites=true&w=majority")

In [ ]:
db = client.get_database("sample_airbnb")
w_data = db.get_collection("listingsAndReviews")

In [ ]:
cur=w_data.find({}, {'name':1})
cur.next()

## Write on test_for_final.test_collection

In [ ]:
db2=client.test_for_final
col2=db2.test_collection

documents=[{'name':'tom', 'age':10},
           {'name':'nick', 'age':15},
           {'name':'juli', 'age':14},
           {'name':'hyeri', 'age':25},
           {'name':'simji', 'age':25}]

col2.insert_many(documents)